<!-- PAGINA DI SIGN UP  -->
<% provide(:title, 'Sign Up')%>
<h1>Sign Up</h1>
<div class='row'>
	<div class='span6 offset3'>
		<%= form_for(@user) do |f| %>
		
			<%= 
			#erros_messages contiene qualcosa solo se ci sono errori nella creazione
			#dell'utente
			render 'shared/error_messages'%>
			<%= f.label :name %>
			<%= f.text_field :name%>
			
			<%= f.label :mail %>
			<%= f.text_field :mail %>
			
			<%= f.label :password %>
			<%= f.password_field :password %>
			
			<%= f.label :password_confirmation, "Confirmation" %>
			<%= f.password_field :password_confirmation %>
			
			<%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
		
		<%end%>
			
	</div>
</div>